USE [master]
GO
/****** Object:  Database [EventSoftDB]    Script Date: 06/02/2021 22:58:45 ******/
CREATE DATABASE [EventSoftDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EventSoftDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\EventSoftDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EventSoftDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\EventSoftDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EventSoftDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EventSoftDB]
GO
/****** Object:  Table [dbo].[Evento]    Script Date: 06/02/2021 22:58:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evento](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[imagenUrl] [nvarchar](50) NULL,
	[titulo] [nvarchar](50) NULL,
	[descripcion] [nvarchar](50) NULL,
	[tiempo] [nvarchar](50) NULL,
	[usuarioId] [int] NULL,
 CONSTRAINT [PK_Evento] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 06/02/2021 22:58:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombres] [nvarchar](50) NULL,
	[apellidos] [nvarchar](50) NULL,
	[correo] [nvarchar](50) NULL,
	[contraseña] [nvarchar](50) NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Evento] ON 

INSERT [dbo].[Evento] ([id], [imagenUrl], [titulo], [descripcion], [tiempo], [usuarioId]) VALUES (1, N'google.com', N'Google', N'Descirpcion', N'3 horas', 1)
SET IDENTITY_INSERT [dbo].[Evento] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([id], [nombres], [apellidos], [correo], [contraseña]) VALUES (1, N'Rodrigo', N'Lara Camarena', N'max.lara@hotmail.com', N'4Rt56')
INSERT [dbo].[Usuario] ([id], [nombres], [apellidos], [correo], [contraseña]) VALUES (3, N'Geraldo Pepe', N'Nuñes Sagassti', NULL, NULL)
INSERT [dbo].[Usuario] ([id], [nombres], [apellidos], [correo], [contraseña]) VALUES (6, N'Homero', N'Simpson', N'email2@hotmail.com', N'1234567')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[Evento]  WITH CHECK ADD  CONSTRAINT [FK_Evento_Usuario] FOREIGN KEY([usuarioId])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Evento] CHECK CONSTRAINT [FK_Evento_Usuario]
GO
USE [master]
GO
